- Basic Level

1. Retrieve the names of employees who earn more than the average salary of all employees.
- we are assuming table names:

employees(emp_id, name, department_id, salary)

departments(department_id, department_name, location)

sales(sale_id, emp_id, sale_amount, sale_date)

- Employees who earn more than average salary
SELECT name
FROM employees
WHERE salary > (SELECT AVG(salary) FROM employees);

2. Find the employees who belong to the department with the highest average salary.
- Employees from department with highest average salary
SELECT *
FROM employees
WHERE department_id = (
    SELECT department_id
    FROM employees
    GROUP BY department_id
    ORDER BY AVG(salary) DESC
    LIMIT 1
);
3. List all employees who have made at least one sale.
- Employees who made at least one sale
SELECT name
FROM employees
WHERE emp_id IN (SELECT DISTINCT emp_id FROM sales);

4. Find the employee with the highest sale amount.
- Employee with highest sale amount
SELECT name
FROM employees
WHERE emp_id = (
    SELECT emp_id
    FROM sales
    ORDER BY sale_amount DESC
    LIMIT 1
);

5. Retrieve the names of employees whose salaries are higher than Shubham’s salary.
- Employees earning more than Shubham
SELECT name
FROM employees
WHERE salary > (
    SELECT salary
    FROM employees
    WHERE name = 'Shubham'
);

- Intermediate Level

1. Find employees who work in the same department as Abhishek.
- SELECT name
FROM employees
WHERE department_id = (
    SELECT department_id
    FROM employees
    WHERE name = 'Abhishek'
);

2. List departments that have at least one employee earning more than ₹60,000.
- SELECT department_name
FROM departments
WHERE department_id IN (
    SELECT DISTINCT department_id
    FROM employees
    WHERE salary > 60000
);
3. Find the department name of the employee who made the highest sale.
- SELECT department_name
FROM departments
WHERE department_id = (
    SELECT department_id
    FROM employees
    WHERE emp_id = (
        SELECT emp_id
        FROM sales
        ORDER BY sale_amount DESC
        LIMIT 1
    )
);
4. Retrieve employees who have made sales greater than the average sale amount.
- SELECT name
FROM employees
WHERE emp_id IN (
    SELECT emp_id
    FROM sales
    WHERE sale_amount > (SELECT AVG(sale_amount) FROM sales)
);
5. Find the total sales made by employees who earn more than the average salary
- SELECT SUM(sale_amount) AS total_sales
FROM sales
WHERE emp_id IN (
    SELECT emp_id
    FROM employees
    WHERE salary > (SELECT AVG(salary) FROM employees)
);

- Advanced Level

1. Find employees who have not made any sales.
- SELECT name
FROM employees
WHERE emp_id NOT IN (SELECT DISTINCT emp_id FROM sales);

2. List departments where the average salary is above ₹55,000.
- SELECT department_name
FROM departments
WHERE department_id IN (
    SELECT department_id
    FROM employees
    GROUP BY department_id
    HAVING AVG(salary) > 55000
);

3. Retrieve department names where the total sales exceed ₹10,000.
- SELECT department_name
FROM departments
WHERE department_id IN (
    SELECT department_id
    FROM employees
    WHERE emp_id IN (
        SELECT emp_id
        FROM sales
        GROUP BY emp_id
        HAVING SUM(sale_amount) > 10000
    )
);
4. Find the employee who has made the second-highest sale.
- SELECT name
FROM employees
WHERE emp_id = (
    SELECT emp_id
    FROM sales
    ORDER BY sale_amount DESC
    LIMIT 1 OFFSET 1
);
5. Retrieve the names of employees whose salary is greater than the highest sale amount recorded
- SELECT name
FROM employees
WHERE salary > (
    SELECT MAX(sale_amount)
    FROM sales
);